@model IEnumerable<MvcAppFirst.Models.Employee>

@{
     Layout = null;
}

<!DOCTYPE html>
<html>
   <head>
@*   <style type="text/css" src="~/Resource/Styles/table.css"></style>*@
<head>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
</head>
      <meta name = "viewport" content = "width = device-width" />
      <title>Employee</title>
   </head>
   <body>
      <p>@Html.ActionLink("New", "NewEmployee", new { @class = "btn btn-floating pulse" }, new { @class = "btn btn-floating pulse" })</p>
         <table class="bordered"  >
         <tr>
            <th>
               @Html.DisplayNameFor(model => model.Name)
            </th>
				
            <th>
               @Html.DisplayNameFor(model => model.Department)
            </th>
		    <th>
                @Html.DisplayNameFor(model => model.Job)       
            </th>
            
				
            <th></th>
         </tr>
			
         @foreach (var item in Model) {
            <tr>
               <td>
                  @Html.DisplayFor(modelItem => item.Name)
               </td>
					
               <td>
                  @Html.DisplayFor(modelItem => item.Department)
               </td>
			    <td>
                    @Html.DisplayFor(modelItem => item.Job)
                </td>
              
					
               <td>
                  @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "waves-effect waves-light btn" }) |
                  @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "waves-effect waves-light btn" }) |
                  @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "waves-effect waves-light btn" })
                 
               </td>
					
            </tr>
         }
			
      </table>
   
     @{
         if( @ViewBag.DeleteStatus!=null && @ViewBag.DeleteStatus.ToString() !="")
         {
             <h3><font color="red">
             @ViewBag.DeleteStatus.ToString()
             </font>
             </h3>
         }
     }
   </body>
</html>